<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LG 20-10 voting system</title>
        <meta name="description" content="LG 20-10 voting system" />
        <meta name="keywords" content="LG 20-10 voting system" />
        <meta name="author" content="Son.Nguyen" />
        <link rel="shortcut icon" href="../favicon.ico">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/demo.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/component.css') }}">
        <script src="{{ url_for('static',filename='js/modernizr.custom.js') }}"></script>
    </head>
    <script>
        function vote(userId, unvote="No")
        {
            var req = new XMLHttpRequest()
            req.onreadystatechange = function()
            {
                if (req.readyState == 4)
                {
                    if (req.status != 200)
                    {
                        alert("Too lazy to implement this feature. Sorry !!!");
                    }
                    else
                    {
                        var response = JSON.parse(req.responseText);
                        // alert("Voted, you have "+response+"vote(s) left");
                        if(response <= 0){
                            alert("Too lazy to implement this feature. Sorry !!!");
                        }
                        document.getElementById('starLeft').innerHTML = response+'/3';
                    }
                }
            }

            req.open('POST', '/');
            req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            var postVars = 'user='+userId+'&unvote='+unvote;
            req.send(postVars);

            return false;
        }
    </script>
    <body>
        <div class="container">
            <header class="clearfix">
                <span>LG Electronics Vietnam <span class="bp-icon bp-icon-about" data-content=":)"></span></span>
                <nav>
                    <!-- <span>IP {{ ip }} |</span> -->
                    <span id="starLeft">vote left: {{ starLeft }}/3</span>
                    <!-- <a href="http://tympanus.net/Blueprints/FullWidthTabs/" class="bp-icon bp-icon-prev" data-info="previous Blueprint"><span>Previous Blueprint</span></a> -->
<!--                     <a href="" class="bp-icon bp-icon-next" data-info="next Blueprint"><span>Next Blueprint</span></a>
                    <a href="http://tympanus.net/codrops/?p=18699" class="bp-icon bp-icon-drop" data-info="back to the Codrops article"><span>back to the Codrops article</span></a>
                    <a href="http://tympanus.net/codrops/category/blueprints/" class="bp-icon bp-icon-archive" data-info="Blueprints archive"><span>Go to the archive</span></a>
 -->                </nav>

            </header>
            <div id="grid-gallery" class="grid-gallery">
                <section class="grid-wrap">
                <p>Order: <a href="/random">random</a> | <a href="./">normal</a></p>
                    <ul class="grid">
                        <li class="grid-sizer"></li><!-- for Masonry column width -->
                        {% for user in users %}
                        <li>
                            <figure>
                                <img src="/static/thumb/SBD {{ user[3] }}" alt="{{ user[3] }}"/>
                                <tag>{{ user[2] }}</tag>
                                <figcaption>
                                    <h3>{{ user[0] }} {{ user[1] }}</h3>
                                    {% if user[0] in voted %}
                                        <a class="cantVote" href="" onclick="vote({{ user[0] }}, 'Yes')">Voted!</a>
                                    {% else %}
                                        <a class="canVote" href="" onclick="vote({{ user[0] }})">Vote!</a>
                                    {% endif %}
                                </figcaption>
                            </figure>
                        </li>
                        {% endfor %}
                    </ul>
                </section><!-- // grid-wrap -->
                <section class="slideshow">
                    <ul>
                        {% for user in users %}
                        <li>
                            <figure>
                                <!-- <a href="/static/images/SBD {{ user[4] }}" target="_blank">View full</a> -->
                                <img src="/static/images/SBD {{ user[4] }}" alt="{{ user[4] }}"/>
                            </figure>
                        </li>
                        {% endfor %}
                    </ul>
                    <nav>
                        <span class="icon nav-prev"></span>
                        <span class="icon nav-next"></span>
                        <span class="icon nav-close"></span>
                    </nav>
                    <div class="info-keys icon">Navigate with arrow keys</div>
                </section><!-- // slideshow -->
            </div><!-- // grid-gallery -->
        </div>
        <script src="{{ url_for('static',filename='js/imagesloaded.pkgd.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/masonry.pkgd.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/classie.js') }}"></script>
        <script src="{{ url_for('static',filename='js/cbpGridGallery.js') }}"></script>
        <script>
            new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
        </script>
    </body>
</html>
